<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="footer">
    <div class="footer">
        <form th:action="@{/logout}">
            <fieldset>
                <div class="row">
                    <div sec:authorize="isAuthenticated()">
                        <div style="text">
                            <p>Jestes zalogowany jako: (<span sec:authentication="principal.username"/>)</p>
                        </div>
                        <input type="submit" class="logoutButton" value="Wyloguj"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>