<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-12">
                <a th:href="@{/home}">
                    <img class="logo" th:src="@{/img/Ski-booking-logo.png}"/>
                </a>

                <ul class="menu-desktop">
                    <li class="children">
                        <a th:href="@{/bookingTime}">Zarezerwuj pokój</a>
                    </li>
                    <li class="children">
                        <a th:href="@{/login}">Logowanie</a>
                    </li>
                    <li class="children">
                        <a th:href="@{/registration}">Rejestracja</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>