fieldset{
    width: 200px;
}

fieldset{
    margin: auto;
    align: center;
    align-items: center;
    vertical-align: center;
}

/*Header*/
.head{

}

.header {
    width: 100%;
    background: white;
    height: 128px;
    position: fixed;
}

.logo{
    height: auto;
    width: auto;
    margin: auto;
}

ul {
    list-style: none;
}

.menu-wrapper{
}

.menu-desktop {
    display: inline-flex;
}

.children{
    padding-right: 25px;
}

/*Footer*/
.footer {
    background: white;
    height: 128px;
}

.logoutButton {
    background-color: #f44336;
    color: white;
    margin-left: 550px;
    height: 60px;
    width: 120px;
}

.logoutButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

/*Body*/
body {
    background-image: url(../img/Snow.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    margin-top: 128px;
    min-height: 1280px;
}

.text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-8.form-group{
    align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.col-md-8{
    border: solid 1px gray;
    border-radius: 20px;
    background: white;
    margin: 15px 0 15px 0px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}





