body {
    /*background: url("../img/slotwiny1.jpg");*/
    background: lightblue;
}
.col-md-12{
    background: white;
    border-radius: 20px;
    padding: 15px 0px 0px 0px;
}
.btn{
    margin-bottom: 15px;
}
.window{
    margin: 15px 0px 15px 0px; max-height:1200px; max-width: 1200px; border: solid 1px gray; border-radius: 20px;
}