fieldset{
    width: 200px;
}


form.head{
    display: inline-block;
    margin: 35px 5px 10px 5px;
}

/*form.mid{*/
    /*!*align: center;*!*/
    /*!*align-items: center;*!*/
    /*vertical-align: center;*/
/*}*/

fieldset{
    margin: auto;
    align: center;
    align-items: center;
    vertical-align: center;
}

body {
    background: lightblue;
    width: 1200px;
    align: center;
    margin: auto;
}

h1 {
    text-align: center;
}

.text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    /*max-width: auto;*/
}

.col-md-8.form-group{
    align: center;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.col-md-8{
    /*width: 800px;*/
    border: solid 1px gray;
    border-radius: 20px;
    background: white;
    margin: 15px 0 15px 0px;
    vertical-align: middle;
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
}

.window {
    /*text-align: center;*/
    /*margin: 15px 0px 15px 0px;*/
    /*width: max-content;*/
    /*!*width: auto;*!*/
    /*border: solid 1px gray;*/
    /*border-radius: 20px;*/
    /*background: white;*/
    /*padding: 15px 0px 0px 0px;*/
}

.form-group {
    /*max-width: 600px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*vertical-align: middle;*/
}

.header {
    background: #505050;
    height: 120px;
}

.footer {
    background: #505050;
    height: 120px;
}

.logoutButton {
    background-color: #f44336;
    color: white;
    margin-left: 550px;
    height: 60px;
    width: 120px;
}

.logoutButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.logo{
    height: 120px;
    width: 180px;
    /*border-radius: 10px;*/
    margin: auto;
}