<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/main.css"/>
<head>
    <title th:text="'Strona Admina'"></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<head>
    <div th:replace="fragments/header :: header">Header</div>
</head>
<div class="container-fluid">
    <div class="row main">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div th:if="${clientOrders.isEmpty()}">
                <span th:text="' Klient nie ma zadnych zamowien.'"></span>
            </div>
            <div th:else="${!clientOrders.isEmpty()}">
                <table>
                    <tr th:each="order: ${clientOrders}">
                        <p>
                        <td th:text="'Pokój numer: ' + ${order.room.id}"/>
                        <td th:text="'Data rozpoczecia bookingu: ' + ${order.bookFrom}"/>
                        <td th:text="'Data zakończenia bookingu: ' + ${order.bookTo}"/>
                        <td th:text="'Cena bookingu: ' + ${order.room.price} + ' zł'"/>
                        <td th:text="'Czy zapłacono? '"></td>
                        <td th:if="${order.bookPaid}">
                        <td th:text="Tak"/>
                        </td>
                        <td th:unless="${order.bookPaid}">
                        <td th:text="Nie"/>
                        </td>
                        </p>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>