<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/main.css"/>
<head>
    <title th:text="'Pokoj nr: '+${room.roomId}"></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<head>
    <div th:replace="fragments/header :: header">Header</div>
</head>
<div class="container-fluid">
    <div class="row main">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="text">
                <p>
                <td th:text="'Wybrany pokoj jest dostepny w wybranym przez Ciebie terminie.'"/>
                </p>
                <p>
                <td th:text="'Aktualna cena pokoju wynosi:' + ${room.price}"/>
                </p>
                <p>
                <td th:text="'Pokoj przeznaczony jest dla: ' + ${room.roomSize} + 'osob'"/>
                </p>
                <p>Zarezerwuj pokoj</p>
                <form action="#" th:action="@{/orders}" th:object="${orderDTO}" method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{roomId}" th:value="${room.roomId}"/>
                        <input type="date" name="Date from" id="dateFrom" class="form-control input-lg"
                               placeholder="Date from" required="true" autofocus="true"
                               th:field="*{bookFrom}"/>
                        <input type="date" name="Date to" id="dateTo" class="form-control input-lg"
                               placeholder="Date to" required="true" autofocus="true"
                               th:field="*{bookTo}"/>
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Potwierdz termin"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>